<div [formGroup]="form">
  <!-- <mat-card
    ><mat-card-content>{{ control.label }}</mat-card-content></mat-card
  > -->
  <app-artical-parent-control
    *ngIf="control.hasChildren && control.controlType == 'div'"
    [parentControl]="control"
    [form]="form"
  ></app-artical-parent-control>

  <div [ngSwitch]="control.controlType">
    <input
      class="sample-xl"
      *ngSwitchCase="'textbox'"
      [formControlName]="control.key"
      [id]="control.key"
      [type]="control.type"
    />
    <label *ngSwitchCase="'label'" [attr.for]="control.key">{{
      control.label
    }}</label>
    <br *ngSwitchCase="'br'" />
    <p *ngSwitchCase="'pera'">{{ control.label }}</p>
    <select
      [id]="control.key"
      *ngSwitchCase="'dropdown'"
      [formControlName]="control.key"
    >
      <option *ngFor="let opt of control.options" [value]="opt.key">
        {{ opt.value }}
      </option>
    </select>
    <img
      *ngSwitchCase="'image'"
      [formControlName]="control.key"
      [id]="control.key"
      [src]="control.src"
    />
    <h1 *ngSwitchCase="'h1'" class="{{ control.css }}">{{ control.label }}</h1>
    <h3 *ngSwitchCase="'h3'" class="{{ control.css }}">{{ control.label }}</h3>
    <span *ngSwitchCase="'span'">{{ control.label }}</span>
    <mat-card *ngSwitchCase="'card-basic'">
      <mat-card-content>{{ control.label }}</mat-card-content>
    </mat-card>
    <mat-card class="example-card" *ngSwitchCase="'card-artical'">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ control.label }}</mat-card-title>
        <mat-card-subtitle>custom sub msg</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="control.src" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="errorMessage" *ngIf="!isValid">
    {{ control.label }} is required
  </div>
</div>
