.errorMessage {
  color: red;
}

.form-row {
  margin-top: 10px;
}
.loading-img {
  text-align: center;
  display: flex;
  width: 100px;
  height: 60px;
}
.sample-xl {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* color: navy; */
  width: 100%;
  padding: 0px;
}
.tree-node {
  font-weight: 500 !important;
}
.tree-node-title {
  font-weight: 500 !important;
  color: rgb(6, 70, 155);
}
.box {
  color: white;
  padding: 10px;
  text-align: center;
  border-style: inset;
}

.green {
  background: green;
}

.blue {
  background: blue;
}
.admin-container {
  margin-top: 75px;
}
.admin-right-container {
  /* border-left: 6px solid rgb(51, 122, 183); */
  flex: 1 1 100%;
  box-sizing: border-box;
  background: lightblue;
  border-radius: 6px;
  margin: 10px;
  padding-left: 10px;
}

/* .admin-container mat-tree.mat-tree.cdk-tree {
  margin-left: -25px;
} */
.page-details-div {
  float: right;
  border-radius: 6px;
}
.page-details-div .txt-cls {
  width: 100px !important;
}
.page-details-div td {
  text-transform: uppercase;
}
.admin-container .article-intro {
  border: 2px solid #ddd;
  height: 95.5%;
  border-radius: 6px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 75px;
}
.admin-container input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  /* padding: 0.5rem; */
  height: 20px;
  font-size: 10px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.admin-container select,
option {
  width: 100%;
  font-weight: 600;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.admin-container td,
th {
  padding: 0;
  font-size: 14px;
}
.admin-container
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 0px;
  padding-bottom: 0px;
}
.admin-container .mat-mdc-form-field-infix {
  flex: auto;
  min-width: 0;
  width: 220px;
  /* position: relative; */
  box-sizing: border-box;
}
.mat-crtl-col {
  border-radius: 6px;
  position: absolute;
  margin-left: -13px;
  /* margin-right: 4px; */
  padding: 3px;
}
.admin-container tr {
  border-bottom: 1px;
  border-color: gray;
}
.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}
.multiselect {
  width: 100%;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#preview-div {
  width: 450px;
  height: 400px;
  border-radius: 6px;
  background-color: #fff;
  border: dashed 1px #869fac;
  padding: 0.5em;
  z-index: 10;
  position: absolute !important;
  box-sizing: content-box;
}

.slected-node-cls,
.slected-menu-cls {
  color: blue;
  font-size: 14px !important;
}
.ng-draggable {
  cursor: grab;
}

.ng-dragging {
  cursor: grabbing;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  background-color: white;
  border-radius: 6px;
  padding-left: 3px;
  position: absolute;
  z-index: 2;
  width: 55%;
  max-height: 255px;
  overflow-x: hidden;
  overflow-y: auto;
}

#checkboxes label {
  display: block;
  margin: 2px !important;
  width: 100%;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.fl-table {
  border-radius: 6px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: #e9d2a7;
  padding: 5px;
}

.fl-table td,
.fl-table th {
  text-align: left;
  padding-left: 5px;
  padding-right: 3px;
  /* padding: 8px; */
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 11px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #e5e5e5;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
  .fl-table .mat-mdc-button {
    color: white;
  }
}

.steps {
  /* margin: 40px;
  padding: 0;
  overflow: hidden; */
  margin-left: -40px;
  margin-right: 5px;
}
.steps div {
  font-size: 12px;
}
.steps a {
  color: white;
  text-decoration: none;
}
.steps em {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}
.steps li {
  float: left;
  margin-left: 0;
  width: 49%; /* 100 / number of steps */
  height: 80px; /* total height */
  list-style-type: none;
  padding: 5px 5px 5px 30px; /* padding around text, last should include arrow width */
  border-right: 3px solid white; /* width: gap between arrows, color: background of document */
  position: relative;
  line-height: 18px;
}
/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
  padding-left: 5px;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n + 2)::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-left: 25px solid white; /* width: arrow width, color: background of document */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width: 0;
  height: 0;
  content: " ";
}
/* colored arrow to the right */
.steps li::after {
  z-index: 1; /* need to bring this above the next item */
  position: absolute;
  top: 0;
  right: -25px; /* arrow width (negated) */
  display: block;
  border-left: 25px solid #434242; /* width: arrow width */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width: 0;
  height: 0;
  content: " ";
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li {
  background-color: #434242;
}
.steps li::after {
  border-left-color: #434242;
}

/* Current */
.steps li.current {
  background-color: #c36615;
}
.steps li.current::after {
  border-left-color: #c36615;
}

/* Following */
.steps li.current ~ li {
  background-color: #ebebeb;
}
.steps li.current ~ li::after {
  border-left-color: #ebebeb;
}

/* Hover for completed and current */
.steps li:hover {
  background-color: #696;
}
.steps li:hover::after {
  border-left-color: #696;
}
