.errorMessage {
  color: red;
}

.form-row {
  margin-top: 10px;
}

.sample-xl {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: navy;
}

.box {
  color: white;
  padding: 10px;
  text-align: center;
  border-style: inset;
}

.green {
  background: green;
}

.blue {
  background: blue;
}
